---
import Section from "./Section.astro";
import { certificates } from "@/cv.json";
---

<Section title="Certificates" class="pt-12 breaking-page">
    <ul class="grid grid-certificates gap-1">
        {
            certificates.map(({ url, description, name, issuer, date }) => {
                return (
                    <li>
                        <article class="pb-2 flex flex-col gap-4 h-full">
                            <header>
                                <a href={url}>
                                    <h3>{name}</h3>
                                </a>
                                <p>{description}</p>
                                <p>Issuer: {issuer}</p>
                                <p>Date: {date}</p>
                            </header>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</Section>
<style>
    .breaking-page {
        page-break-before: always;
    }
</style>
