---
import Section from "./Section.astro";
import PhoneIcon from "@/components/Icons/Phone.astro";
import GmailIcon from "@/components/Icons/MailMinimalist.astro";
import WorldIcon from "@/components/Icons/World.astro";
import { basics } from "@/cv.json";
const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;
const linkedinProfile = profiles.find(
    (profile) => profile.network === "Linkedin",
);
---

<Section class="pt-8">
    <div class="flex items-center justify-center">
        <div class="flex flex-col gap-[0.5rem] pr-[32px]">
            <h1 class="text-2xl">{name}</h1>
            <h2 class="text-[#444] font-medium text-base text-balance">
                {label}
            </h2>
            <span
                class="flex items-center gap-[0.25rem] text-[#666] text-xs tracking-tighter"
            >
                <WorldIcon class="text-[#666]" />
                {city},{region}
            </span>
            <footer class="flex flex-wrap gap-[6px] items-center justify-left">
                {
                    email && (
                        <a
                            class="flex items-center justify-center text-[#666] gap-[4px] m-0"
                            href={`mailto:${email}`}
                        >
                            <GmailIcon />
                            {email}
                            &bull;
                        </a>
                    )
                }
                {
                    phone && (
                        <a
                            class="flex items-center justify-center text-[#666] gap-[4px] m-0"
                            href={`tel:${phone}`}
                        >
                            <PhoneIcon />
                            {phone}
                            &bull;
                        </a>
                    )
                }
                {
                    linkedinProfile && (
                        <a
                            class="flex items-center justify-center text-[#666] gap-[4px] m-0"
                            href={`${linkedinProfile.url}`}
                        >
                            {linkedinProfile.url}
                        </a>
                    )
                }
            </footer>
        </div>
        <figure>
            <img
                class="aspect-square object-cover w-[400px] rounded-2xl grayscale"
                src={image}
                alt={name}
            />
        </figure>
    </div>
</Section>
