---
interface Props {
    name: string;
    position: string;
    url: string;
    startDate: string;
    endDate: string;
    summary: string;
}
const { name, position, url, startDate, endDate, summary } = Astro.props;
import RightArrowIcon from "./Icons/RightArrow.astro";
---

<div
    class="absolute
        w-3
        h-3
        bg-orange-400
        rounded-full
        mt-1.5
        -start-[0.42rem]
        border
        border-white
        dark:border-orange-300
        dark:bg-orange-300"
>
</div>
<time
    class="mb-1 text-sm font-normal leading-none text-[#00091d]/40 dark:text-gray-500"
    >{`${startDate} - ${endDate}`}</time
>
<h3
    class="text-lg font-bold dark:font-semibold text-orange-400 dark:text-orange-200 mt-4"
>
    {`${position} - ${name}`}
</h3>
<p
    class="mb-4 text-base font-normal text-[#00091d] dark:text-gray-200 text-balance"
>
    {summary}
</p>
{
    url && (
        <a
            href={url}
            class="
                inline-flex
                items-center
                rounded-lg
                dark:bg-white/10
                bg-orange-300/30
                px-4
                py-2
                border
                border-white/10
                text-base
                hover:scale-110
                hover:bg-orange-300/80
            "
            target="_blank"
            rel="noopener noreferrer"
        >
            Learn more <RightArrowIcon />
        </a>
    )
}
